
Docapp/Docapp/Docapp.Android/Docapp.Android.csproj
*.csproj
Docapp/Docapp/Docapp.Android/Docapp.Android.csproj
Docapp/Docapp/Docapp.Android/Docapp.Android.csproj
Docapp/Docapp/Docapp.Android/obj/Debug/Docapp.Android.csproj.CoreCompileInputs.cache
Docapp/.vs/Docapp/v15/.suo
Docapp/.vs/Docapp/v15/Server/sqlite3/storage.ide
Docapp/Docapp/Docapp.Android/Docapp.Android.csproj.user
